<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857289498527-4ogpc4dqh10pcmegogmfvaoa3m1r9v6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857289498527-4ogpc4dqh10pcmegogmfvaoa3m1r9v6q</string>
	<key>API_KEY</key>
	<string>AIzaSyAQvOIiT3AOCtH7qcH5oNO8GkGsOMok3aY</string>
	<key>GCM_SENDER_ID</key>
	<string>857289498527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HugoKroon.Jobbify</string>
	<key>PROJECT_ID</key>
	<string>jobbify-273ae</string>
	<key>STORAGE_BUCKET</key>
	<string>jobbify-273ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857289498527:ios:48ec78dac3f079d5ade7aa</string>
	<key>DATABASE_URL</key>
	<string>https://jobbify-273ae.firebaseio.com</string>
</dict>
</plist>